{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="text-warning mt-5 border-bottom">SERVICES</h1>
    <hr>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x i-color mb-3"></i>
            <h3>SEO</h3>
            <p .ss-color>This is the search option where you serach what you want</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-palette fa-2x i-color mb-3"></i>
            <h3>WEB DESIGN</h3>
            <p .ss-color>This is the WEB DESIGN option where you get info of web design</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-code fa-2x i-color mb-3 "></i>
            <h3>WEB DEVELOPEMENT</h3>
            <p .ss-color>This is the serch option where you serach what you want</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab fa-android fa-2x i-color mb-3"></i>
            <h3>ANDROID</h3>
            <p .ss-color>This is the search option where you serach what you want</p>
        </div>
        <div class="col-sm-4">
            <i class="fab fa-apple fa-2x i-color mb-3 "></i>
            <h3>IOS</h3>
            <p .ss-color>This is the WEB DESIGN option where you get info of web design</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-ad fa-2x i-color mb-3 "></i>
            <h3>ADVERTIZING</h3>
            <p .ss-color>This is the serch option where you serach what you want</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fas fa-pencil-alt fa-2x  i-color mb-3 "></i>
            <h3>LOGO DESIGN</h3>
            <p .ss-color>This is the search option where you serach what you want</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-database fa-2x i-color mb-3"></i>
            <h3>HOSTING</h3>
            <p .ss-color>This is the WEB DESIGN option where you get info of web design</p>
        </div>
        <div class="col-sm-4">
            <i class="fas fa-headset fa-2x i-color mb-3"></i>
            <h3>SUPPORT</h3>
            <p .ss-color>This is the serch option where you serach what you want</p>
        </div>
    </div>

</div>
{% endblock content %}