{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%;" aria-voluemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">JAVASCRIPT</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%;" aria-valuenow="95%" aria-voluemin="0" aria-valuemax="100">95%</div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">PYTHON</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100%" aria-voluemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">D-JANGO</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80%" aria-voluemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">C/C++</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 90%;" aria-valuenow="90%" aria-voluemin="0" aria-valuemax="100">90%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">ANDROID</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%;" aria-valuenow="95%" aria-voluemin="0" aria-valuemax="100">95%</div>
            </div>
        </div>
    </div>

    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">BOOTSTRAP</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" style="width: 98%;" aria-valuenow="98%" aria-voluemin="0" aria-valuemax="100">98%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">REACT_JS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 93%;" aria-valuenow="93%" aria-voluemin="0" aria-valuemax="100">93%</div>
            </div>
        </div>
    </div>

    

</div>
{% endblock content %}